[splitHolder] {
    height: 100%;
    border: 1px solid lightgray;
}

[splitHolder] div {
    position: relative;
    float: left;
    left: 0px;
    height: 100%;
    user-select: none;
}

[hook] {
    width: 4px;
    cursor: ew-resize;
    background-color: lightgray;
}
