[resizable] {
    position: absolute;
}

[content] {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

[plug] {
    position: absolute;
    cursor: nwse-resize;
    right: 0px;
    width: 10px;
    bottom: 0px;
    height: 10px;
    background-color: gray;
}
